:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fcfcfc;
  background-color: #292929;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

#app {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  transition: transform 0.2s;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s; 
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cvtext {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  text-align: left;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 350;
  margin: 0.5em 0;
}

li {
  font-size: 1em;
  font-weight: 350;
  margin: 0.5em 0;
}

.card {
  padding: 0.625rem;
  margin: 1rem;

  --border-width: 3px;

  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }

}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

.hidden-content {
  display: none;
}

.card.active .hidden-content {
  display: block;
}

@media screen and (max-width:600px) {
  .card {
    width: 100%;
  }

  .card.active .hidden-content {
    display: block;
  }

  .hidden-content {
    display: none;
  }

  .card:hover {
    transform: none;
  }

  .card {
    margin: 0.625rem;
  }

}

.quiz-question-container li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
}

.quiz-radio {
  margin-right: 0.5em; 
}




